<div class="card shadow" style="width: 24rem; height: 30rem">
    <img class="card-img-top center rounded-circle img-responsive" src="../../../assets/woman.jpg" alt="Profile image">
    <div class="card-body">
        <h5 class="card-title font-weight-bold text-center">Mercy Julius</h5>
        <p class="text-center">UX design</p>
        <p class="text-center">Nigeria</p>
        <p class="card-text text-center">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary btn-lg btn-block">Get connected</a>
    </div>
</div>