.center {
    display: block;
    width: 8rem;
    height: 8rem;
    margin: 0 auto;
    margin-top: 1rem
}

.btn {
    background-color: #0E0B98;
    color: #fff;
    padding: 0.5rem;
    font-weight: bold
}

.github-img,
.email-img {
    /* display: block; */
    width: 2rem;
    height: 2rem;
    margin-right: 1rem
}

.email-img {
    width: 1.5rem;
    height: 1.5rem;
}

.icon-div {
    width: 30%;
    margin: 0 auto;
}